<div class="row">
    <div class="col-6">
        <p>Class: @Class.Name</p>
    </div>
    <div class="col-6">
        <p>Name: @ClassItem.Name</p>
    </div>
    <div class="col-6 pt-1">
        <p>Traits: @ClassItem.Traits</p>
    </div>
    <div class="col-6 pt-1">
        <p>Equip Type: @ClassItem.EquipType</p>
    </div>
    <div class="col-6 pt-1">
        <p>Weapon Type: @(ClassItem.WeaponType == WeaponType.None ? "-" : ClassItem.WeaponType.ToString())</p>
    </div>
    <div class="col-6 pt-1">
        <p>Attack Dice: @(ClassItem.WeaponType == WeaponType.None ? "-" : $"Blue {ClassItem.PowerDie}")</p>
    </div>
    <div class="col-12 pt-1 text-center">
        <p>Text</p>
    </div>
    <div class=" col-12 pt-1">
        <p>@ClassItem.Text</p>
    </div>
    <div class="col-12 pt-1">
        <RadzenButton Text="Close" Click="() => DialogService.Close(true)" Style="margin-bottom: 10px; width: 100%" />
    </div>
</div>

@code {
    [Parameter]
    public ClassItem ClassItem { get; set; }

    [Parameter]
    public Class Class { get; set; }

    [Parameter]
    public DialogService DialogService { get; set; }
}